Packages
.build
vision-api-macos/.build
vision-api-macos/.swiftpm
vision-api-linux/target
node_modules
.turbo
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
! .env.example
.vscode
